:root {
  --container-width: calc(45vw - 15px - 1px);
  --container-height: calc(95vh - 100px);
  --item-width: 600px;
  --item-height: calc(1 / 2 * 100vh);
  --btn-width: 100px;
  --header-height: 50px;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-rows: var(--header-height) auto;
  grid-template-columns: calc(50vw - 15px - 1px) calc(50vh - 15px - 1px);
}

.header {
  /* grid-area: header; */
  grid-column: span 2;
  width: calc(100vw - 20px);
  border: 1px solid lightgray;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header > div {
  width: var(--btn-width);
  height: calc(var(--header-height) - 20px);
  line-height: calc(var(--header-height) - 20px);

  border: 1px solid lightgray;
  cursor: pointer;

  font-size: 12px;
  text-align: center;
}

#text {
  /* grid-area: text; */

  width: var(--container-width);
  height: var(--container-height);
  margin-top: 25px;
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 24px;
  background-color: lightblue;
}
