:root {
  --container-width: calc(45vw - 15px - 1px);
  --container-height: calc(95vh - 100px);
  --item-width: 600px;
  --item-height: calc(1 / 2 * 100vh);
  --btn-width: 100px;
  --header-height: 50px;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-rows: var(--header-height) auto;
  grid-template-columns: calc(50vw - 15px - 1px) calc(50vh - 15px - 1px);
}

.header {
  /* grid-area: header; */
  grid-column: span 2;
  width: calc(100vw - 20px);
  border: 1px solid lightgray;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header > div {
  width: var(--btn-width);
  height: calc(var(--header-height) - 20px);
  line-height: calc(var(--header-height) - 20px);

  border: 1px solid lightgray;
  cursor: pointer;

  font-size: 12px;
  text-align: center;
}

#text {
  /* grid-area: text; */

  width: var(--container-width);
  height: var(--container-height);
  margin-top: 25px;
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 24px;
  background-color: lightblue;
}

.annotation-menu {
  position: absolute;
  height: 300px;
  width: 250px;
  background: white;
  border: 1px solid lightgray;
  padding: 20px;

  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-rows: 15px 62px 62px 35px 62px 35px;
  grid-template-areas:
    "close-remove"
    "tag-list"
    "tag-options"
    "tag-insert"
    "comment-list"
    "comment-insert";
}

.annotation-menu .close-remove {
  grid-area: close-remove;
  height: 15px;
  width: 100%;
  margin-top: -10px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.annotation-menu .close-remove .close-btn,
.annotation-menu .close-remove .remove-btn {
  /* grid-area: close;
  margin-top: -10px; */
  height: 15px;
  width: 100px;

  border-radius: 4px;
  cursor: pointer;

  font-size: 10px;
  text-align: center;
  line-height: 15px;
}

.annotation-menu .close-remove .close-btn {
  background: indianred;
}

.annotation-menu .close-remove .remove-btn {
  background: darkred;
}

.annotation-menu .tags-list {
  grid-area: tag-list;
}

.annotation-menu .tag-options {
  grid-area: tag-options;
}

.annotation-menu .tag-insert {
  grid-area: tag-insert;
}

.annotation-menu .comment-list {
  grid-area: comment-list;
}

.annotation-menu .comment-insert {
  grid-area: comment-insert;
}

.annotation-menu .tags-list,
.annotation-menu .comment-list {
  width: 240px;
  height: 50px;
  padding: 5px;

  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;

  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.annotation-menu .comment-list {
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.annotation-menu .tag-options {
  width: 240px;
  height: 50px;
  padding: 5px;

  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.annotation-menu .tags-list .tag,
.annotation-menu .tag-options .tag {
  min-width: 25px;
  max-width: 50px;
  padding: 5px;
  margin: 0 0 5px 5px;
  border: 1px solid lightgray;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.annotation-menu .tag-options .tag {
  opacity: 0.5;
}

.annotation-menu .comment-list .comment {
  min-width: 25px;
  padding: 5px;
  margin: 0 0 5px 5px;
  text-align: center;
  border: none;
}

.annotation-menu .tags-list::-webkit-scrollbar,
.annotation-menu .comment-list::-webkit-scrollbar {
  height: 5px;
}

.annotation-menu .tag-options::-webkit-scrollbar-thumb,
.annotation-menu .tags-list::-webkit-scrollbar-thumb,
.annotation-menu .comment-list::-webkit-scrollbar-thumb {
  background: lightblue;
}

.annotation-menu .tag-options,
.annotation-menu .tag-insert,
.annotation-menu .comment-insert {
  height: 35px;
  width: 240px;
}

.annotation-menu .tag-insert > input,
.annotation-menu .comment-insert > input {
  font-size: 12px;
  color: #999;
  height: 25px;
  width: 100%;
  padding: 5px;
  border: none;
  text-align: left;
}

.annotation-menu .comment-list > input:focus,
.annotation-menu .tag-insert > input:focus,
.annotation-menu .comment-insert > input:focus {
  -webkit-appearance: none;
  outline: none;
  outline: 0;
  /* background: lightblue; */
}

.annotated-span {
  background: gray;
  cursor: pointer;
}
