<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>annoDiff v2</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/landing.css" />

    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>-->
    <!--<script src{="../annotatorjs/annotator-full.min.js"></script>-->

    <!--<scr{ipt src="../annotatorjs/myPlugin.js"> </script>-->
    <!--<link rel="stylesheet" href="../annotatorjs/annotator.min.css">-->

    <!--<script src="../annotatorjs/tags-annotator.min.js"></script>-->
    <!--<script src="../annotatorjs/myPlugin.js"></script>-->
    <!--<link href="../annotatorjs/tags-annotator.min.css" rel="stylesheet">-->
  </head>
  <body>
    <!-- <div id="label-studio"></div> -->
    <!-- <pre id="my-content">My text to annotate.</pre> -->
    <script src="../static/build/bundle.js"></script>
  </body>
</html>
