{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<header>

</header>
<main>
    <div class="main">
        <div class="main-left">
            <div class="pos"></div>
            <div class="ent"></div>
        </div>
        <div class="main-middle">
            <div class="tabs tab-field">
                <button class="page tablinks active" value="POS">POS</button>
                <button class="page tablinks" value="ENT">ENT</button>
            </div>
            <div class="text"></div>
        </div>
    </div>

</main>

{% endblock %}